<div class="container my-5">
    <h1>Add New Payment</h1>
    <div class="row">
      <div class="col-6">
        <form #form="ngForm" (ngSubmit)="AddPayment()">
          <div class="mb-3">
            <label for="customerId" class="form-label">Customer Id</label>
            <input
              type="number"
              class="form-control"
              id="customerId"
              name="customerId"
              [(ngModel)]="AddPaymentRequest.customerId"
            />
          </div>
          <div class="mb-3">
            <label for="billId" class="form-label">Bill Id</label>
            <input
              type="number"
              class="form-control"
              id="billId"
              name="billId"
              [(ngModel)]="AddPaymentRequest.billId"
            />
          </div>
          <div class="mb-3">
            <label for="paymentStatus" class="form-label">Payment Status</label>
            <div class="input-group mb-3">
              <label class="input-group-text" for="paymentStatus">Options</label>
              <select
                class="form-select"
                id="paymentStatus"
                name="paymentStatus"
                [(ngModel)]="AddPaymentRequest.paymentStatus"
                required
              >
                <option value="paid">Paid</option>
                <option value="unpaid">Unpaid</option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-plus"></i> Create
          </button>
        </form>
      </div>
    </div>
  </div>
  