<div class="container" my-5>
    <h1>Search</h1>
    <div class="row">
      <div class="col-6">
        <form #form="ngForm" (ngSubmit)="GetCustomerById(CustomerDetails.customerId)">
          <div class="mb-3">
            <label for="customerId" class="form-label">Customer Id</label>
            <input
              type="number"
              class="form-control"
              id="customerId"
              name="customerId"
              readonly
              [(ngModel)]="CustomerDetails.customerId"
            />
          </div>
          <div class="mb-3">
            <label for="customerName" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="customerName"
              name="customerName"
              [(ngModel)]="CustomerDetails.customerName"
            />
          </div>
          <div class="mb-3">
            <label for="customerEmail" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="customerEmail"
              name="customerEmail"
              [(ngModel)]="CustomerDetails.customerEmail"
            />
          </div>
          <div class="mb-3">
            <label for="customerMobile" class="form-label">Mobile</label>
            <input
              type="number"
              class="form-control"
              id="customerMobile"
              name="customerMobile"
              [(ngModel)]="CustomerDetails.customerMobile"
            />
          </div>
          <div class="mb-3">
            <label for="customerPassword" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="customerPassword"
              name="customerPassword"
              [(ngModel)]="CustomerDetails.customerPassword"
            />
          </div>
          <div class="mb-3">
            <label for="customerAddress" class="form-label">Address</label>
            <input
              type="text"
              class="form-control"
              id="customerAddress"
              name="customerAddress"
              [(ngModel)]="CustomerDetails.customerAddress"
            />
          </div>
          <button type="button" class="btn btn-danger mr-2" routerLink="/Customer">Back</button>
          <button type="button" class="btn btn-warning" [routerLink]="['/Customer', 'Update', CustomerDetails.customerId]">Edit</button>
        </form>
      </div>
    </div>
  </div>
  