<div class="container my-5">
  <h1 class="text-center">Customers                →<button class="btn btn-primary" routerLink="/Customer/Add"><i class="fa fa-plus"></i></button></h1>
  
  <table class="table table-bordered table-hover" *ngIf="customers && customers.length > 0">
    <thead class="table-dark">
      <tr>
        <th class="text-center">Id</th>
        <th class="text-center">Name</th>
        <th class="text-center">Email</th>
        <th class="text-center">Phone</th>
        <th class="text-center">Address</th>
        <th class="text-center">Password</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody class="table-light">
      <tr *ngFor="let user of customers">
        <td class="text-center">{{ user.customerId }}</td>
        <td class="text-center">{{ user.customerName }}</td>
        <td class="text-center">{{ user.customerEmail }}</td>
        <td class="text-center">{{ user.customerMobile }}</td>
        <td class="text-center">{{ user.customerAddress }}</td>
        <td class="text-center">{{ user.customerPassword }}</td>
        <td class="text-center">
          <button class="btn btn-info mr-2" [routerLink]="['/Customer', 'Update', user.customerId]">
            <i class="fa fa-eye"></i>
          </button>
          <button type="button" class="btn btn-danger" (click)="DeleteCustomer(user.customerId)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!customers || customers.length <= 0" class="text-center">
    No customers found
  </p>
</div>