<div class="container" my-5>
    <h1>Edit Bill</h1>
    <div class="row">
      <div class="col-6">
        <form #form="ngForm" (ngSubmit)="UpdateBill()">
            <div class="mb-3">
                <label for="billId" class="form-label">Bill Id</label>
                <input
                  type="number"
                  class="form-control"
                  id="billId"
                  name="billId"
                  readonly
                  [(ngModel)]="BillDetails.billId"
                />
              </div>
            <div class="mb-3">
            <label for="customerId" class="form-label">Customer Id</label>
            <input
              type="number"
              class="form-control"
              id="customerId"
              name="customerId"
              [(ngModel)]="BillDetails.customerId"
            />
          </div>
          <div class="mb-3">
            <label for="perUnitCost" class="form-label">Per Unit Cost</label>
            <input
              type="number"
              class="form-control"
              id="perUnitCost"
              name="perUnitCost"
              [(ngModel)]="BillDetails.perUnitCost"
            />
          </div>
          <div class="mb-3">
            <label for="totalUnits" class="form-label">Total Units</label>
            <input
              type="number"
              class="form-control"
              id="totalUnits"
              name="totalUnits"
              [(ngModel)]="BillDetails.totalUnits"
            />
          </div>
          <div class="mb-3">
            <label for="billAmount" class="form-label">Bill Amount</label>
            <input
              type="number"
              class="form-control"
              id="billAmount"
              name="billAmount"
              [(ngModel)]="BillDetails.billAmount"
            />
          </div>
          <button type="button" class="btn btn-danger mr-2" title="Back" [routerLink]="'/Bill'">
            <i class="fa fa-arrow-left"></i>
          </button>
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="DeleteBill(BillDetails.billId)"
          >
            <i class="fa fa-trash"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
  